html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: url(pocetna2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.header {
    padding: 0 5%;
    background: rgba(255, 255, 255, 0);
}

.header .menu {
    height: 0;
    overflow: hidden;
    clear: both;
    list-style: none;
    padding: 0;
    transition: all .3s ease-out;
}

.header .logo a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.header .menu a {
    text-decoration: none;
    color: #333;
}

.header .menu .active {
    box-shadow: 0 -2px 0 #333 inset;
    padding-bottom: 0.4em;
}

.header .menu li {
    padding: 0.5em 0;
}

.header .menu a:hover {
    padding-bottom: 0.4em;
}

.header .menu li:hover {
    transition: ease-out all 0.2s;
    background: rgba(204, 198, 198, 0.856);
}

header .logo {
    float: left;
    padding-top: 2em;
}

/* HAMBURGER IKONA */

.header .menu-icon {
    position: relative;
    padding: 20px;
    float: right;
    margin-top: 2.4em;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 3px;
    width: 18px;
    position: relative;
    transition: all .2s ease-out;
    cursor: pointer;
}

.header .menu-icon .nav-icon::before {
    content: "";
    background:#333;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 6px;
    transition: all .2s ease-out;
}
.header .menu-icon .nav-icon::after {
    content: "";
    background:#333;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -6px;
    transition: all .2s ease-out;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    height: 350px
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

/* SADRZAJ */

.container  {
    display: inline-block;
    margin: 8em 20%;
}

.container h1 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 5em;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin: 0;
}

.container p {
    font-size: 1.5em;
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* FOOTER */

.footersadrzaj {
    position:fixed;
    max-width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1em;
}

.footer li  {
    display:inline-block;
    padding: 0 1em;
}


.copyright {
    display: flex;
    align-items: center;
}

.footer ul {
    margin: 0.2em;
    padding: 0.2em;
}


/* RESPONZIVNOST */



@media all and (min-width:768px){

    

    .header .menu-icon {
        display: none;
    }

   .header .menu {
       height: 100px;
       margin: 0;
       clear: none;
       float: right;
       display: flex;
       align-items: center;
   }

   .header .menu li {
       padding: 0 1.4em;
   }


   .header .menu li:hover {
    transition: ease-out all 0.2s;
    background:transparent;
}

    .header .menu li a:hover {
        box-shadow: 0 -2px 0 #333 inset;
        transition: all 0.2s ease-in-out;
    }

}

@media all and (max-width:992px) {

    

    .header .menu li {
        padding: 1em 0.7em;
    }

    .container  {
        display: inline-block;
        margin: 8em 20%;
        text-align: center;
    }

    .container h1 {
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 4em;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-align: center;
    }

    .container p {
        font-size: 1.3em;
        text-align: center;
    }


    
}



@media all and (max-width:768px) {

    

    .header {
        background: rgba(255, 255, 255, 0.788);
        /* position: fixed;
        width: 100%;
        padding: 0;
        top: 0; */
    }

   

    .header .menu .active {
        box-shadow: none;
    }

    .header .menu .activeresponsive {
        
        background: rgba(204, 198, 198, 0.856);
    }


    .container {
        display: block;
        text-align: center;
        margin: 8em 1em;
    }


    .container h1 {
        font-family: 'Shadows Into Light Two', cursive;
        font-size: 3.5em;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-align: center;
    }

    .container p {
        font-size: 1em;
        text-align: center;
    }


    /* FOOTER */

    .footersadrzaj {
        position:fixed;
        max-width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        display: grid;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 1em;
    }


    .social {
        display: flex;
        justify-content: space-evenly;
    }

    .copyright {
        margin-top: 1em;
        margin-bottom: 1em;
        display: inline-block;
        text-align: center;
        order: 2;
 }

}